* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("../media/bg2.jpg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 300px 20px;
}

#car {
  position: absolute;
  bottom: 0px;
  left: 520px;
  /* animation: leftturn 1s ease 1;
  transition: all 1s ease; */
}

#obs1 {
  position: absolute;
  top: -150px;
  left: 330px;

  /* transition: all 20s ease; */
}

.animateobs1{
  animation: updown 3.5s ease-in;
}

@keyframes updown {
  from {
    position: absolute;
    top: -150px;
    left: 330px;
  }

  /* 50% {
    position: absolute;
    top: 500px;
    left: 330px;
  } */

  to {
    position: absolute;
    top: 580px;
    left: 330px;
  }
}

